<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">Analytics</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="images/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">
            <%= name %>
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <section class="content">

      <!--analytics modal -->
      <div class="modal fade" id="analyticsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Analytics Mode</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/analytics" method="get">
                <div class="form-group">
                  <label for="analyticsType">Select one from below</label>
                  <select id="analyticsType" name="analyticsType" class="form-control">
                    <option value="ManagerName">Managers Wise Count</option>
                    <option value="Sex">Gender Count Info</option>
                    <option value="RaceDesc">Race Description</option>
                    <option value="RecruitmentSource">Recruitment Source</option>
                    <option value="PerformanceScore">Performance Count</option>
                    <option value="CitizenDesc">Citizen Description</option>
                    <option value="MaritalDesc">Marital Description</option>
                    <option value="Position">Designation Wise</option>
                    <option value="Department">Department Wise Count</option>
                    <option value="EmploymentStatus">Employment Status Info</option>
                  </select>
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Proceed</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- 1vs1 analytics Modal -->
      <div class="modal fade" id="1vs1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">1 Vs 1 Mode</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/1vs1Analytics" method="post">
                <div class="form-group">
                  <label for="emp1">Employee_1 ID</label><br>
                  <input type="text" id="emp1" name="emp1" placeholder="Enter Employee ID" class="form-control"
                    onchange="validate('emp1','1')" autocomplete="false" required>
                </div>
                <small id="errTag1" class="text-danger font-weight-bold"></small>
                <div class="form-group">
                  <label for="emp2">Employee_2 ID</label><br>
                  <input type="text" id="emp2" name="emp2" placeholder="Enter Employee ID" class="form-control"
                    onchange="validate('emp2','2')" autocomplete="false" required>
                </div>
                <small id="errTag2" class="text-danger font-weight-bold"></small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Proceed</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container">
          <div class="row mb-10"></div>
          <div class="row ">
            <div class="col-md-3">
              <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="images/employees.png" alt="Card image cap">
                <div class="card-body">
                  <a href="/data" class="btn btn-primary">Employees</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="images/performance.png" alt="Card image cap">
                <div class="card-body">
                  <a href="/analytics" class="btn btn-primary" data-toggle="modal"
                    data-target="#analyticsModal">Performance</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="images/1vs1.png" alt="Card image cap">
                <div class="card-body">
                  <a href="/1vs1" data-target="#1vs1Modal" data-toggle="modal" class="btn btn-primary">1 vs 1</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="images/helpdesk.png" alt="Card image cap">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">HelpDesk</a>
                </div>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <%- include("partials/footer") -%>

    <script>

      function validate(empID, num) {
        var emp = $('#' + empID).val();
        $.ajax(
          {
            url: '/validateIDs',
            method: 'post',
            dataType: 'json',
            data: {
              'empID': emp,
            },
            success: function (response) {
              $('#errTag' + num).html(response['errMsg'])
            },
            error: function (response) {
              alert("Server Error Occured")
            }
          }
        )
      }

    </script>
    </body>

</html>